In [1]:
import pickle
import pandas as pd

In [2]:
# Load the dictionary from the pickle file
with open('mydict_dict.pickle', 'rb') as file:
    mydict = pickle.load(file)

In [3]:
print(mydict['2023-01-03']) # test zobrazenia

{'meniny': 'Daniela', 0: ['Utorok vo Vianočnom období [Biela]\nalebo\nNajsvätejšieho mena Ježiš [Biela]\n(ľubovoľná spomienka)', 'Vianočné obdobie; lit. rok: 2023; ned./fer. cyklus: A/I']}

In [4]:
print(mydict['2023-07-17']) # test zobrazenia

{'meniny': 'Bohuslav', 0: ['Svätých Andreja-Svorada a Benedikta, pustovníkov [Biela]\n(spomienka)', 'Cezročné obdobie; lit. rok: 2023; ned./fer. cyklus: A/I'], 1: ['NITRA: Svätých Andreja-Svorada a Benedikta, pustovníkov – hlavných patrónov diecézy [Biela]\n(sviatok)', 'Cezročné obdobie; lit. rok: 2023; ned./fer. cyklus: A/I'], 2: ['Mesto Nitra: Svätého Andreja-Svorada – patróna mesta [Biela]\n(slávnosť)', 'Cezročné obdobie; lit. rok: 2023; ned./fer. cyklus: A/I']}

In [5]:
df = pd.DataFrame.from_dict(mydict, orient='index').reset_index(names='datum')
# df['datum'] = pd.to_datetime(df['datum']) 
df

,datum,meniny,0,1,2
0,2023-01-01,Nový rok,[PRIKÁZANÁ SLÁVNOSŤ:\nPanny Márie Bohorodičky ...,NaN,NaN
1,2023-01-02,"Alexandra, Karina",[Svätých Bazila Veľkého a Gregora Nazianzského...,NaN,NaN
2,2023-01-03,Daniela,[Utorok vo Vianočnom období [Biela]\nalebo\nNa...,NaN,NaN
3,2023-01-04,Drahoslav,"[Streda vo Vianočnom období [Biela], Vianočné ...",NaN,NaN
4,2023-01-05,Andrea,"[Štvrtok vo Vianočnom období [Biela], Vianočné...",NaN,NaN
...,...,...,...,...,...
360,2023-12-27,Filoména,"[Svätého Jána, apoštola a evanjelistu [Biela]\...",NaN,NaN
361,2023-12-28,"Ivana, Ivona","[Svätých Neviniatok, mučeníkov [Červená]\n(svi...",NaN,NaN
362,2023-12-29,Milada,"[Piaty deň v oktáve narodenia Pána [Biela], Vi...",NaN,NaN
363,2023-12-30,Dávid,"[Šiesty deň v oktáve narodenia Pána [Biela], V...",NaN,NaN
364,2023-12-31,Silvester,"[Svätej rodiny – Ježiša, Márie a Jozefa [Biela...",NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   datum   365 non-null    object
 1   meniny  365 non-null    object
 2   0       365 non-null    object
 3   1       29 non-null     object
 4   2       2 non-null      object
dtypes: object(5)
memory usage: 14.4+ KB

In [7]:
df.to_pickle('first_dataframe.pickle')

In [8]:
# done.